/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Components */

/* Browser specific styles */
@import 'dirty/hacks';

/* Demo Page styles */

body {
    padding-left: 15px;
  padding-right: 15px;
  }
  
  * {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .banner {
    
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .welcome-img-1 {
    position: absolute;
    top: 5%;
  
    right: 23%;
  }
  
  .welcome-img-2 {
    position: absolute;
    top: 15%;
  
    right: 10%;
  }
  .welcome-img-3 {
  position: absolute;
  top: 37%;
  right: 17%;
  }
  
  .relative{
    position: relative;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-wrapper {
    width: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
  }
  
  
  
  .swiper-button-prev {
   color: white;
  }
  
  :root {
    --swiper-theme-color:white !important;
  }
  
  .swiper-button-next {
   color: white;
  } 
  .swiper-button-next:after, .swiper-button-prev:after {
    content: ""!important;
  }
  
  .say-hello {
    background-image: url("../images/design/woman-swimming.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .image-collage {
    margin-top: -3rem;
  }
  
  .footer {
    a {
        text-decoration: none;
        color: #b3a9a9;
        &:hover {
            text-decoration: underline;
            color: white;
          }
      }
  }
  
  .bg-deep-blue {
    background-color: #0a205c;
    color: white;
  }
  
  .btn-property-blue {
    background-color: #0a205c;
    color: white;
    padding: 0.5rem 1rem;
    border: 2px solid #0a205c;
    

    &:hover {
      background-color: #fff;
      color: #0a205c;
    
    } 
  }

  .check-btn {
    border: 2px solid #0a205c !important;
      &:hover {
        background-color: #fff;
        color: #0a205c;
      }
  }

  .btn-property-white {
    background-color: #fff;
    color: #0a205c;
    padding: 0.5rem 1rem;
    border: 2px solid #0a205c;

    border: #0a205c 2px solid;

    &:hover {
      background-color: #0a205c;
      color: #fff;

    }
  }
  
  .bg-wheat {
    background-color: rgb(244,235,224);
  }
  
  .bg-creme {
    background-color: #f9f6ee;
  }
  
  .book-your-stay {
    img {
        height: 1em;
      }
  }
  
  .hide {
    display: none;
  }
  
  .bg-color-rating {
    background-color: rgb(8, 90, 28);
    padding: 0.4em;
  }

  .bg-color-owl {
    background-color: rgb(19, 213, 68);
    width: 3rem ;
    border-radius: 100%;
  }
  
  
  
  
  .anchor-blue{
    color: black;

    &:hover {
        color: #0a205c;
      }
  }

  
  @media screen and (min-width: 576px){
    body {
      padding-left: 0px;
      padding-right: 0px;
    }
    
  }
